/* Header.css */
.header {
  background-color: #f9f9f9;
  border-bottom: 2px solid #e0e0e0;
  padding: 10px 50px;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  width: 100%;
  max-width: 1200px;
}

.logo img {
  height: 40px;
}

.navigation {
  display: flex;
  gap: 20px;
}

.navigation a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  padding: 5px 10px;
  transition: color 0.3s;
}

.navigation a:hover {
  color: #dc0a1f;
}

.navigation a.active {
  color: #dc0a1f;
}

/* Mobile Navigation */
.menu-toggle {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
  background: none;
  border: none;
}

@media screen and (max-width: 768px) {
  .headerContent {
    flex-direction: row;
  }

  .navigation {
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #fff;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 10px;
    padding: 15px 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: none;
  }

  .navigation.open {
    display: flex;
  }

  .menu-toggle {
    display: block;
    color: #0e0f50;
  }
}

  
  /* .profile {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .profileLink {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
  }
  
  .profileInitial {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  
  .signOutButton {
    background-color: #000;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
  }
   */